/* =============  PAGE  ============= */
body {
    margin: 0;
    padding-top: 80px;
}

/* ============= HEADER ============= */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: #dbdbdb;
}
header h1 {
    margin: 0 10px;
    line-height: 80px;
    float: left;
}
header .logo span {
    display: block;
    line-height: calc(70px / 3);
}
header .logo a {
    color: black;
    text-decoration: none;
}
header nav {
    padding: 0 10px;
    float: right;
}
header nav span {
    display: inline;
    line-height: 80px;
}
header nav span a {
    color: #313131;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.05em;
}
header nav span.active a {
    border-bottom: 2px solid #313131;
}
header nav span:not(.active) a:hover {
    transition: 0.3s;
    color: #707070;
    border-bottom: 2px solid #707070;
}
header img.logo {
    float: left;
    height: 70px;
}

/* =============  MAIN  ============= */
main {
    padding: 8px;
}

/* ============= FOOTER ============= */
footer {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-image: url("../img/logo_lighter.svg");
    background-color: #a8a8a8;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-y: center;
    background-blend-mode: multiply;
    text-align: center;
    padding: 15px 0;
}
footer.pin-to-bottom {
    /* 
     * pins footer to bottom for pages without
     * enough content to push it off screen
     */
    position: fixed;
}
footer section {
    display: inline-block;
    margin: auto 0;
    text-align: left;
    margin: 0 15px;
}
footer section.title {
    line-height: 100%;
}
footer section.title p {
    vertical-align: middle;
}
footer section.nav-links-l {
    margin-right: 0px;
}
footer section.nav-links-r {
    margin-left: 0px;
}
footer section p {
    margin: 0;
}
footer section a {
    color: black;
}
footer section p.header {
    font-weight: bold;
}

/* =============  MENU  ============= */
ul.menu-items p {
    font-weight: bold;
    margin-bottom: 0px;
}