/* =============  FONT  ============= */
@font-face {
    font-family: "coves";
    font-weight: bold;
    src: url("../fonts/Coves\ Bold.otf");
}
@font-face {
    font-family: "coves";
    src: url("../fonts/Coves\ Light.otf");
}
@font-face {
    font-family: "poppins";
    font-weight: bold;
    src: url("../fonts/Poppins\ Bold.ttf");
}
@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins\ Regular.ttf");
}
/* =============  PAGE  ============= */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding-top: 80px;
    background: #e7ca8c;
}
section h2 {
    font-size: 3em;
}

/* ============= HEADER ============= */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: #dbdbdb;
    font-family: "coves", Helvetica, Arial, sans-serif;
}
header h1 {
    margin: 0 10px;
    line-height: 80px;
    float: left;
}
header .logo span {
    display: block;
    line-height: calc(70px / 3);
}
header .logo a {
    color: #000000;
    text-decoration: none;
}
header nav {
    padding: 0 10px;
    float: right;
}
header nav span {
    display: inline;
    line-height: 80px;
}
header nav span a {
    color: #313131;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.05em;
}
header nav span.active a {
    border-bottom: 2px solid #313131;
}
header nav span:not(.active) a:hover {
    transition: 0.3s;
    color: #707070;
    border-bottom: 2px solid #707070;
}
header img.logo {
    float: left;
    height: 70px;
}

/* =============  MAIN  ============= */
main {
    padding: 8px;
    font-family: "poppins", Helvetica, Arial, sans-serif;
    flex: 1 0 auto;
}
main.no-pad {
    padding: 0px;
}
main.no-pad section {
    padding: 0 200px;
}
main.info-page {
    width: 900px;
    margin: 0 auto;
}

/* ============= FOOTER ============= */
footer {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-image: url("../img/logo_lighter.svg");
    background-color: #a8a8a8;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-y: center;
    background-blend-mode: multiply;
    text-align: center;
    padding: 15px 0;
    font-family: "coves", Helvetica, Arial, sans-serif;
    flex-shrink: 0;
}
footer section {
    display: inline-block;
    margin: auto 0;
    text-align: left;
    margin: 0 15px;
}
footer section.title {
    line-height: 100%;
}
footer section.title p {
    vertical-align: middle;
}
footer section.nav-links-l {
    margin-right: 0px;
}
footer section.nav-links-r {
    margin-left: 0px;
}
footer section p {
    margin: 0;
}
footer section a {
    color: #000000;
}
footer section p.header {
    font-weight: bold;
}

/* =============  BUTTON  ============= */
a.button {
    background: #d80077;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}
a.button:hover {
    background: #a10059;
    text-shadow: 1 1 10px rgba(0,0,0,0.7);
}

/* =============  MENU  ============= */
main.menu-page section {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}
ul.menu-items p {
    font-weight: bold;
    margin-bottom: 0px;
}
main.menu-page section img {
    height: 300px;
    display: block;
}
main.menu-page section div.img-container {
    float: right;
    text-align: right;
}
main.menu-page section div.img-container span {
    font-weight: bold;
    font-size: 0.75em;
    padding-right: 15px;
}

/* =============  HOME  ============= */
main.home section {
    height: 400px;
}
section.index-landing {
    background: url("../img/landing.JPG");
    background-size: cover;
    background-position-y: 50%;
    font-size: 3em;
    font-family: "coves", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    width: 100%;
    height: 600px !important;
    line-height: 600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section.fade-in {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}
section.extra-pad {
    margin-top: 150px;
}
section img {
    border: 5px solid #ffffff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin: 10px;
}
section img.bg-left {
    height: 100%;
    float: left;
}
section img.bg-right {
    height: 100%;
    float: right;
}
section div.img-clear {
    clear: both;
}
section.links {
    background: #00255c;
    color: #ffffff;
    padding-top: 150px;
}

/* ============= TIMELINE ============= */
main.timeline section {
    height: 150px;
    padding-top: calc(150px / 2 - 20px);
    /* line-height: 150px; */
    background-size: 150px;
    background-position-x: left;
    background-repeat: no-repeat;
    padding-left: 130px;
    box-sizing: border-box;
}
main.timeline section h3, main.timeline section p {
    padding: 0;
    margin: 0;
    display: inline;
}
section.timeline-start {
    background-image: url("../img/timeline-top.png");
}
section.timeline-mid {
    background-image: url("../img/timeline-mid.png");
}
section.timeline-end {
    background-image: url("../img/timeline-end.png");
}

/* ============= CONTACT ============= */
section.contact {
    margin-bottom: 50px;
}
section.contact span {
    display: block;
    font-size: 2em;
}
section.address {
    background: #dbdbdb;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    overflow: auto;
    padding: 10px;
}
section.address div.map {
    float: right;
}
section.address iframe {
    border: 5px solid #ffffff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin: 10px;
}
section.address .buttons {
    margin-top: 40px;
}

/* =============  ANIMATIONS  ============= */
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* ============= BLURRING ============= */
@supports(backdrop-filter: blur(20px)) {
    header {
        /* background: #dbdbdba2; */
        background: #5ed9ffa2;
        backdrop-filter: blur(20px);
    }
}